# install the current version of demucs
# demucs

# or install the upcoming version of demucs
# git+https://github.com/adefossez/demucs#egg=demucs

# install some additional packages
click
numpy
soundfile
tqdm
